
<section class="contact-details">
    <h2>Contact Details</h2>
    <img ngxGravatar [email]="contact.email" size="150" borderColor="#9E9E9E" borderWidth="2">

    <h3>{{ contact.name}}</h3>
    <h3>{{contact.email}}</h3>
    <h3>{{contact.phone}}</h3>
    <div class="actions">
        <button class="delete-button" (click)="deleteContact()">Delete</button>
        <button class="general-button" [routerLink]="['/contact/edit/'+contact._id]">Edit</button>
        <button class="general-button" (click)="navigateBack()">Back</button>
    </div>
    <transfer-funds *ngIf="user && contact" [contact]="contact" [user]="user"></transfer-funds>
    <move-list [user]="user" [contact]="contact"></move-list>
</section>