.contact-details {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    button{
        outline: none;
    }

    img {
        margin: 10px auto 25px auto;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin: 50px 0px;
    }



}