.contact-filter {
    // margin-top: 35px;
    // margin-bottom: 15px;
    margin: 35px 0px 25px 0px;

    input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 25px;
        border: 1px solid rgb(215, 215, 215);
        outline: none;
        transition: ease-in-out .3s;
        font-size: 16px;

        &:focus {
            box-shadow: 0px 0px 9px 2px rgb(106, 153, 255);

        }
    }
}